<header>

  <!-- Add navigation bar on top -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="h2 navbar-brand p-2 bg-warning text-white m-2 fw-bold"
        >BUGS
        <img
          class=""
          src="https://cdn-icons-png.flaticon.com/32/785/785104.png"
        />
        TRACK</a
      >

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarScrollingDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Resources
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">About us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success bg-light" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
  <!-- Navbar-End -->
  <!-- Add Quote -->
  <blockquote class="blockquote text-center" style="margin: 30px">
    <p>Developed Issue/Bug tracker app by using tech stack Node.js ,</p>
    <p class="mb-4">Express.js ,EJS & MoongoDB</p>
    <footer class="blockquote-footer">
      Irshad <cite title="Source Title">Ali</cite>
    </footer>
  </blockquote>
  <!-- End Quote -->
</header>
