<header>
  <!-- Add navigation bar on top -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="h2 navbar-brand text-white m-2 fw-bold">
        <img
          style="height: 60px; width: 170px"
          class=""
          src="https://www.logosurfer.com/wp-content/uploads/2018/03/Jindal20Steel202620Power20Logo.jpg"
        />
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projectdetails/">Attendance Sheet</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link">About us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success bg-light" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
  </nav>
  <!-- Navbar-End -->
  <!-- Add Quote -->
  <blockquote class="blockquote text-center" style="margin: 30px">
    <h1 class="h1 pb-2 mb-4 text-primary  fw-bold">JINDAL STEEL & POWER LTD</h1>
    <footer class="blockquote-footer m-2">
      Irshad <cite title="Source Title">Ali</cite>
    </footer>
  </blockquote>
  <!-- End Quote -->
</header>
